## Indexing & Slicing in Python

In [1]:
s1 = 'Hello World'

In [3]:
len(s1)

11

In [5]:
s1[-1]

'd'

In [3]:
pip install jupyterthemes

Requirement already satisfied: jupyterthemes in c:\users\hleka\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied: notebook>=5.6.0 in c:\users\hleka\anaconda3\lib\site-packages (from jupyterthemes) (6.4.5)
Requirement already satisfied: jupyter-core in c:\users\hleka\anaconda3\lib\site-packages (from jupyterthemes) (4.8.1)
Requirement already satisfied: lesscpy>=0.11.2 in c:\users\hleka\anaconda3\lib\site-packages (from jupyterthemes) (0.15.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\hleka\anaconda3\lib\site-packages (from jupyterthemes) (3.4.3)
Requirement already satisfied: ipython>=5.4.1 in c:\users\hleka\anaconda3\lib\site-packages (from jupyterthemes) (7.29.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: pygments in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.10.0)
Requirement already satisfied: colorama in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (58.0.4)
Requirement already satisfied: decorator in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.0)
Requirement already satisfied: backcall in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hleka\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hleka\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.8.2)
Requirement already satisfied: ply in c:\users\hleka\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: six in c:\users\hleka\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.16.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hleka\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied: numpy>=1.16 in c:\users\hleka\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.20.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hleka\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hleka\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hleka\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hleka\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.2)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.9.4)
Requirement already satisfied: ipython-genutils in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: ipykernel in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.4.1)
Requirement already satisfied: argon2-cffi in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (20.1.0)
Requirement already satisfied: tornado>=6.1 in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.12)
Requirement already satisfied: nbformat in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.1.3)
Requirement already satisfied: pyzmq>=17 in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (22.2.1)
Requirement already satisfied: prometheus-client in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.11.0)
Requirement already satisfied: nbconvert in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.0)
Requirement already satisfied: jinja2 in c:\users\hleka\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.3)
Requirement already satisfied: pywin32>=1.0 in c:\users\hleka\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (228)
Requirement already satisfied: wcwidth in c:\users\hleka\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: pywinpty>=0.5 in c:\users\hleka\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\hleka\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.14.6)
Requirement already satisfied: pycparser in c:\users\hleka\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.20)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\hleka\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (1.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hleka\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3)
Requirement already satisfied: defusedxml in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: testpath in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: bleach in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.0.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\hleka\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.3)
Requirement already satisfied: nest-asyncio in c:\users\hleka\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: async-generator in c:\users\hleka\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=5.6.0->jupyterthemes) (1.10)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\hleka\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\hleka\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\hleka\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (0.18.0)
Requirement already satisfied: webencodings in c:\users\hleka\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: packaging in c:\users\hleka\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (21.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
s1[len(s1)-1], s1[10]

('d', 'd')

In [8]:
s1[0:6]   # fetching the 1st 6 elements
 # Python fetchs the values from the "start_index", and stops 1 BEFORE the "stop_index"

'Hello '

In [10]:
s1[:6]  # if no start index is provided, python fetches from the start anyway!

'Hello '

In [11]:
s1[6:]   # start from the 6th index, and go till the end! (we didn't provide the stop index)

'World'

In [12]:
s1[-10:-5]

'ello '

In [13]:
s1[-5:-10]

''

In [15]:
s1[-1:0]

''

In [16]:
s1[:]

'Hello World'

In [17]:
s1[::]

'Hello World'

In [18]:
s1[::1]

'Hello World'

In [19]:
s1[::2]

'HloWrd'

In [23]:
s1[0:11:3]   # start_index : stop_index : increment

'HlWl'

In [24]:
s1[::-1]

'dlroW olleH'

In [25]:
s1[::-2]

'drWolH'

In [27]:
colors = ['blue', 3.14, True, 100, [10, 20, 30]]
colors

['blue', 3.14, True, 100, [10, 20, 30]]

In [28]:
sorted(s1)

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

In [30]:
s1.sort()

AttributeError: 'str' object has no attribute 'sort'

### back to List built-in methods

In [31]:
colors

['blue', 3.14, True, 100, [10, 20, 30]]

In [32]:
colors.append('yello')
colors

['blue', 3.14, True, 100, [10, 20, 30], 'yello']

In [34]:
colors.append(['red', 'green'])
colors

['blue', 3.14, True, 100, [10, 20, 30], 'yello', ['red', 'green']]

In [35]:
colors.pop()  # removes the last element of the container

['red', 'green']

In [36]:
colors

['blue', 3.14, True, 100, [10, 20, 30], 'yello']

In [37]:
colors.extend(['red', 'green'])
colors

['blue', 3.14, True, 100, [10, 20, 30], 'yello', 'red', 'green']

In [38]:
colors.extend('hello')

In [39]:
colors

['blue',
 3.14,
 True,
 100,
 [10, 20, 30],
 'yello',
 'red',
 'green',
 'h',
 'e',
 'l',
 'l',
 'o']

In [40]:
colors.append('hello')
colors

['blue',
 3.14,
 True,
 100,
 [10, 20, 30],
 'yello',
 'red',
 'green',
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello']

In [42]:
colors[0]  # fetching the elements by thier indices

'blue'

In [43]:
colors[0] = 'Brown'  # setting the elements by thier indices
colors

['Brown',
 3.14,
 True,
 100,
 [10, 20, 30],
 'yello',
 'red',
 'green',
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello']

In [45]:
colors[1:8:3]  # we are fetching the indices 1,4,7

[3.14, [10, 20, 30], 'green']

In [46]:
colors[:3]

['Brown', 3.14, True]

In [50]:
colors[:3]  = ['hi', 'there', 200]  # setting new values for the elements by thier indices
colors
# setting new values to the elements of the list is possible becuase LISTS are MUTABLE !!

['hi',
 'there',
 200,
 500,
 200,
 100,
 [10, 20, 30],
 'yello',
 'red',
 'green',
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello']

In [56]:
colors = ['blue', 3.14, True, 100, [10, 20, 30]]
colors

['blue', 3.14, True, 100, [10, 20, 30]]

In [57]:
# iterating a list
# "color" is called as the "iterator variable". This iterator variable will 
# fetch the values of the elements iteratively within the iterable!

# "colors" is an iterable!
# the default increment in Python is 1.

# for loops are used, when we want to iterate over an iterable (in this case, it is equal to the len(iterable)), OR 
# we want the iterations to go for a FIXED number of times 

for color in colors:
    print(color)

blue
3.14
True
100
[10, 20, 30]

In [65]:
idx = [1,3,4]
for ind in idx:
    print(colors[ind])
    print('i am inside the loop')  # these 2 above print statements are WITHIN the for loop (due to indentation)
    b = 3.14  # this is still within the LOOP!!

a = 100      # this Python statement is OUT of the Loop.
print('this is out of the for loop') # this print statement is OUT of the Loop.

3.14
i am inside the loop
100
i am inside the loop
[10, 20, 30]
i am inside the loop
this is out of the for loop

In [66]:
colors

['blue', 3.14, True, 100, [10, 20, 30]]

In [67]:
colors.pop(2) # we are removing True
colors

['blue', 3.14, 100, [10, 20, 30]]

In [68]:
colors.remove('blue')
colors

[3.14, 100, [10, 20, 30]]

In [89]:
colors = ['blue', 3.14, True, 100, [10, 20, 30]]
colors, id(colors)

(['blue', 3.14, True, 100, [10, 20, 30]], 1659311882112)

In [91]:
colors_copy = colors  # i have created a "SHALLOW" copy of the colors
id(colors_copy) == id(colors)

True

In [84]:
colors_copy.pop()
colors_copy

['blue', 3.14, True, 100]

In [85]:
colors

['blue', 3.14, True, 100]

In [92]:
colors1 = colors.copy()     # This is going to create a "DEEP" copy
id(colors1) == id(colors)

False

In [93]:
colors1.pop()
colors1

['blue', 3.14, True, 100]

In [94]:
colors   # the original list is unaffected, beacuse the "popping" was done is the DEEP copy

['blue', 3.14, True, 100, [10, 20, 30]]

In [95]:
colors.count(100)

1

In [96]:
s1

'Hello World'

In [98]:
s1.count('l')

3

In [99]:
colors.index(100)

3

In [100]:
s1.index('W')

6

In [101]:
s1.index('o')

4

In [102]:
colors

['blue', 3.14, True, 100, [10, 20, 30]]

In [103]:
colors[-1]

[10, 20, 30]

In [104]:
colors[-1][1]    # multi-level indexing will be needed for the NESTED LISTS

20

In [105]:
colors[-1][1] = 200
colors

['blue', 3.14, True, 100, [10, 200, 30]]

In [106]:
colors[-1][-1]

30

## Looping in Python

In [111]:
colors1 = colors.copy()
colors1

['blue', 3.14, True, 100, [10, 200, 30]]

In [110]:
idx = [0,1,3]
for ind in idx:
    val = colors[ind]  # this will give the value of the elelent in the "ind"
    colors1.remove(val)

colors1

[True, [10, 200, 30]]

In [115]:
colors

['blue', 3.14, True, [10, 200, 30]]

Using iterations, we can fetch the elements of an iterable in 3 ways:
- using "range": we can fetch the "indices" of the elements of the iterable
- using "in" : we can directly fetch the "values" of the elements of the iterable
- using "enumerate": we can fetch BOTH the index, as well as the "values" of the elements of the iterable, simultaneously.

In [120]:
nums = [13, 19, 22, 27, 31, 39, 51, 57, 65]

In [122]:
13**2  # squaring

169

In [124]:
nums**2  # we wanted to get the square of every number within the list

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [145]:
sq = []
# The interation below are operating on the nums list directly
for num in nums:        # we are iteratively fetching very number one-by-one from the nums list
    sq.append(num**2)   # we are appending the square of each number 
sq

[4225, 3249, 2601, 1521, 961, 729, 484, 361, 169]

In [144]:
sq = []
# The interations below are operating on the range object (generator)
for k in range(0,len(nums)):        # we are iteratively fetching very number one-by-one from the nums list
    sq.append(nums[k]**2)   # we are appending the square of each number 
sq

[169, 361, 484, 729, 961, 1521, 2601, 3249, 4225]

In [129]:
type(range(0,len(nums)))

range

In [130]:
list(range(0,len(nums)))   # these numbers are being used as INDICES within the FOR loop!

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [135]:
list(range(10,100,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [139]:
list(range(100,10,-10))

[100, 90, 80, 70, 60, 50, 40, 30, 20]

In [152]:
sq = []
# in the case of enumerate, you will need 2 iterator variables. 
# The 1st one will fetch the indices, and the 2nd one will fetch the values  simultaneouly
for k, num in enumerate(nums):
    print(k, ':', num**2, num**3)
    sq.append(nums[k]**2)   # we are appending the square of each number 
sq

0 : 169 2197
1 : 361 6859
2 : 484 10648
3 : 729 19683
4 : 961 29791
5 : 1521 59319
6 : 2601 132651
7 : 3249 185193
8 : 4225 274625

[169, 361, 484, 729, 961, 1521, 2601, 3249, 4225]

# Tuples

In [153]:
# lists are defines using []
# tuples are defined/created using ()

t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [155]:
type(t1)

tuple

In [157]:
colors_tup = tuple(colors)
colors_tup

('blue', 3.14, True, [10, 200, 30])

In [158]:
t2 = tuple(range(10,100,10))
t2

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [ ]:
t2.

In [161]:
t2[-1]

90

In [162]:
t2[-1] = 900  # i am try to replace the last value in the tuple by 900

TypeError: 'tuple' object does not support item assignment

In [165]:
s1

'Hello World'

In [164]:
s1[-1] = 'D'

TypeError: 'str' object does not support item assignment

In [167]:
for item in colors_tup:
    print(item)

blue
3.14
True
[10, 200, 30]

In [169]:
colors_tup[-1][-1]

30

In [175]:
colors_tup[-1][-1] = 100000   # you are ACTUALLY MAnipulating a LIST, AND NOT a Tuple !!!

In [176]:
colors_tup

('blue', 3.14, True, [10, 200, 100000])

# Dictionaries

In [177]:
tel = {'Prashant': 9501, 'Bryan':5000, 'Hary':2000, 'Rashmi':7000}
tel

{'Prashant': 9501, 'Bryan': 5000, 'Hary': 2000, 'Rashmi': 7000}

In [178]:
tel.items()

dict_items([('Prashant', 9501), ('Bryan', 5000), ('Hary', 2000), ('Rashmi', 7000)])

In [179]:
for item in tel.items():
    print(item)

('Prashant', 9501)
('Bryan', 5000)
('Hary', 2000)
('Rashmi', 7000)

In [180]:
for key, val in tel.items(): # unzipping a tuple by using 2 iterator vriables
    print(key, val**2)

Prashant 90269001
Bryan 25000000
Hary 4000000
Rashmi 49000000

In [182]:
list(tel.keys())   # python list of Keys !!

['Prashant', 'Bryan', 'Hary', 'Rashmi']

In [183]:
for key in tel.keys():  # Dict Keys are also individually iterables !!
    print(key)

Prashant
Bryan
Hary
Rashmi

In [186]:
list(tel.values())

[9501, 5000, 2000, 7000]

In [188]:
for val in tel.values():  # Dict Values are also individually iterables !!
    print(val)

9501
5000
2000
7000

In [189]:
tel

{'Prashant': 9501, 'Bryan': 5000, 'Hary': 2000, 'Rashmi': 7000}

In [190]:
tel['Prashant'] = 9000  # the values in a Dict van only be fetched by using VALID keys
tel

{'Prashant': 9000, 'Bryan': 5000, 'Hary': 2000, 'Rashmi': 7000}

In [191]:
tel[0]

KeyError: 0

In [193]:
tel['Bryan'] = [1,2,3,4,5]
tel

{'Prashant': 9000, 'Bryan': [1, 2, 3, 4, 5], 'Hary': 2000, 'Rashmi': 7000}

In [196]:
tel['pi'] = 3.14
tel

{'Prashant': 9000,
 'Bryan': [1, 2, 3, 4, 5],
 'Hary': 2000,
 'Rashmi': 7000,
 'pi': 3.14}

In [198]:
tel.pop('Prashant')  # provide a Key to "pop" out of the dict.
tel

{'Bryan': [1, 2, 3, 4, 5], 'Hary': 2000, 'Rashmi': 7000, 'pi': 3.14}

In [199]:
tel.pop('Prashant')

KeyError: 'Prashant'

In [200]:
tel.popitem()
tel

{'Bryan': [1, 2, 3, 4, 5], 'Hary': 2000, 'Rashmi': 7000}

# Sets

In [207]:
nums = [1,2,3,1,2,3,5,6,5,2,2,3,4,5,2,3,5,6,7,9,9,6,4,4,8, 'a', 'b', 'a', 'b']
# how to find unique numbers within this list ???

In [208]:
set(nums)  # typecasting a list into a set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b'}

In [209]:
list(set(nums))  # list of unique items within the nums list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b']

In [211]:
set1 = {1,2,3,1,2,3,'a', 'b'}
set2 = {1,2,3,10,20,30,'a', 'c'}

In [212]:
set1.union(set2) # union of 2 sets >> get ALL the items from set1 as well as set 2

{1, 10, 2, 20, 3, 30, 'a', 'b', 'c'}

In [214]:
set1.intersection(set2)  # intersection of 2 sets >> get all the COMMON items from the set1 & set2

{1, 2, 3, 'a'}

In [217]:
set3 = {'abc', 100}
set4 = {'xyz', 200}
set3.intersection(set4)  # results in a NULL SET, as there are no common items

set()

In [218]:
set3.isdisjoint(set4)

True

In [219]:
set1.isdisjoint(set2)

False

In [220]:
set5 = set1.copy()

In [222]:
set5.issubset(set1)

True

In [225]:
for s in set5:
    print(s)
#     if s == 'a':
#         break
    
else:
    print('all elements of the set are read ... done !!!!')

1
2
3
a
b
all elements of the set are read ... done !!!!

In [226]:
set5.add('Prashant')
set5

{1, 2, 3, 'Prashant', 'a', 'b'}

In [229]:
set5.remove('a')
set5

{1, 2, 3, 'Prashant'}

In [230]:
# we can even create empy sets
set6 = set()
type(set6)

set

In [232]:
set7 = {[1,2,3], 1,2,3,'adasjdah'}

TypeError: unhashable type: 'list'

In [234]:
set6[0]   # sets are not indexable (indices are also referred as subscripts in Python)

TypeError: 'set' object is not subscriptable