In [32]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [12]:
data = pd.DataFrame({'Redness' : [10, 4, 3.1, 9.5, 5.0, 9.8, 2.3, 3.1, 2.8, 6.3],
              'Roundness' : [4, 10, 13.1, .95, 8.0, 3.9, 12.3, 13.1, 10.1, 16.3],
              'Price' : [20, 13, 12, 19, 10, 15, 9.3, 8.1, 4.2, 8.7],
              'Fruit' : ['Apple', 'Orange', 'Orange', 'Apple', 'Orange', 'Apple', 'Orange', 'Orange', 'Orange', 'Apple']
             })

data

   Redness  Roundness  Price   Fruit
0     10.0       4.00   20.0   Apple
1      4.0      10.00   13.0  Orange
2      3.1      13.10   12.0  Orange
3      9.5       0.95   19.0   Apple
4      5.0       8.00   10.0  Orange
5      9.8       3.90   15.0   Apple
6      2.3      12.30    9.3  Orange
7      3.1      13.10    8.1  Orange
8      2.8      10.10    4.2  Orange
9      6.3      16.30    8.7   Apple

#### Shuffle and Split

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
features = data[['Redness', 'Roundness', 'Price']]
target = data['Fruit']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, target, train_size=.75, random_state = 40)

#### Train the model

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

/usr/local/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [17]:
my_logreg_model = LogisticRegression()
my_DT_model = DecisionTreeClassifier()
my_SVM_model = SVC()

In [18]:
my_logreg_model.fit(X_train, y_train)
my_DT_model.fit(X_train, y_train)
my_SVM_model.fit(X_train, y_train)

SVC()

#### Prediction

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
my_predictions_logreg = my_logreg_model.predict(X_test)
my_predictions_DT = my_DT_model.predict(X_test)
my_predictions_SVM = my_SVM_model.predict(X_test)

#### Testing the model

In [21]:
print("The accuracy for Logistic Regression Model : " ,accuracy_score(y_test, my_predictions_logreg))
print("The accuracy for Decision Tree Model : " ,accuracy_score(y_test, my_predictions_DT))
print("The accuracy for SVM Model : " ,accuracy_score(y_test, my_predictions_SVM))

The accuracy for Logistic Regression Model :  1.0
The accuracy for Decision Tree Model :  1.0
The accuracy for SVM Model :  1.0

In [22]:
from sklearn.datasets import load_diabetes

In [23]:
diabetes_data = load_diabetes()

In [4]:
print(diabetes_data.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [7]:
features = pd.DataFrame(diabetes_data.data, columns=diabetes_data.feature_names)
features

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [8]:
target = pd.DataFrame(diabetes_data.target, columns=['Target'])
target

     Target
0     151.0
1      75.0
2     141.0
3     206.0
4     135.0
..      ...
437   178.0
438   104.0
439   132.0
440   220.0
441    57.0

[442 rows x 1 columns]

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, your_predictions)

In [ ]:
my_logreg_model

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
parameters = {'penalty':('l1', 'l2', 'elasticnet', 'none'), 'C':[0.1, 0.5, 1, 10]}

In [28]:
clf = GridSearchCV(my_logreg_model, parameters, cv = 2)

In [33]:
clf.fit(X_train, y_train)

GridSearchCV(cv=2, estimator=LogisticRegression(),
             param_grid={'C': [0.1, 0.5, 1, 10],
                         'penalty': ('l1', 'l2', 'elasticnet', 'none')})

In [34]:
clf.best_params_

{'C': 0.1, 'penalty': 'l2'}

In [36]:
my_logreg_predictions_gridsearch = clf.predict(X_test)

In [37]:
accuracy_score(y_test, my_logreg_predictions_gridsearch)

1.0

In [38]:
parameters_DT = {'criterion':('gini', 'entropy'), 'max_depth':[2, 5, 10, 15], 'max_features' : ['auto', 'sqrt']}

In [39]:
clf = GridSearchCV(my_DT_model, parameters_DT, cv = 2)
clf.fit(X_train, y_train)

GridSearchCV(cv=2, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ('gini', 'entropy'),
                         'max_depth': [2, 5, 10, 15],
                         'max_features': ['auto', 'sqrt']})

In [40]:
clf.best_params_

{'criterion': 'gini', 'max_depth': 2, 'max_features': 'auto'}

In [41]:
my_DT_preds_gridsearch = clf.predict(X_test)
accuracy_score(y_test, my_DT_preds_gridsearch)

0.6666666666666666