# Importing Tables from a web url

In [4]:
import pandas as pd
tables = pd.read_html('https://en.wikipedia.org/wiki/Filmfare_Award_for_Best_Film')

In [5]:
type(tables)  # list of dataframes

list

In [6]:
len(tables)  # there are 12 tables present as pandas Dataframes

12

In [16]:
df = tables[2]
df.dropna(axis=0, inplace=True)
df.head()

        Year               Film              Studio(s)
1  1954(1st)     Do Bigha Zamin  Bimal Roy Productions
2  1954(1st)  No Other Nominees      No Other Nominees
4  1955(2nd)        Boot Polish            R. K. Films
5  1955(2nd)  No Other Nominees      No Other Nominees
7  1956(3rd)            Jagriti  Filmistan Productions

In [11]:
df.shape

(24, 3)

In [19]:
# let's create a simple html file here 

html_doc ="""
<html> 
<head> <title> This is the title of the HTML document </title>
</head>

<body>
<h1> My First HTML document</h1>
<b><!--This is a commented data.Not anymore relevant.--></b>
<p title="BeautifulSoup", class ="one" >My first Paragraph</p>
<p> My second paragraph </p>
<div class ="cities">
<h2> London</h2>
</div>
</body>
</html>"""

# Let's begin scraping the simple html based web page

In [20]:
from bs4 import BeautifulSoup 

simple_soup = BeautifulSoup(html_doc , "html.parser")

In [21]:
print(simple_soup)

<html>
<head> <title> This is the title of the HTML document </title>
</head>
<body>
<h1> My First HTML document</h1>
<b><!--This is a commented data.Not anymore relevant.--></b>
<p ,="" class="one" title="BeautifulSoup">My first Paragraph</p>
<p> My second paragraph </p>
<div class="cities">
<h2> London</h2>
</div>
</body>
</html>

In [22]:
print(type(simple_soup))

<class 'bs4.BeautifulSoup'>

#### how to print the contents present in the tag?

In [25]:
# access the tag
print(simple_soup.h1)

<h1> My First HTML document</h1>

In [26]:
tag_h1 = simple_soup.h1
print(type(tag_h1))

<class 'bs4.element.Tag'>

In [27]:
tag_h1.

SyntaxError: invalid syntax (Temp/ipykernel_42052/901261990.py, line 1)

In [7]:
print("The text present in the h1 tag is : ")
print("--------------------------------------")
print(tag_h1.string) # the string attribute returns the text present in the tag

The text present in the h1 tag is :
--------------------------------------
 My First HTML document

In [28]:
h1_string_var = tag_h1.string
print(type(h1_string_var))

<class 'bs4.element.NavigableString'>

In [29]:
print(simple_soup.p)

<p ,="" class="one" title="BeautifulSoup">My first Paragraph</p>

In [10]:
print(simple_soup.p.string)

My first Paragraph

In [9]:
# listing out the various html attributes presnent in a tag

tag_p = simple_soup.p

print(tag_p.attrs)

{'title': 'BeautifulSoup', ',': '', 'class': ['one']}

In [12]:
print(tag_p.attrs["title"])  # accessing the html attribute value

BeautifulSoup

In [13]:
print(tag_p.attrs["class"])

['one']

In [11]:
# comment

comment_in_b_tag_line = simple_soup.b.string 

print(type(comment_in_b_tag_line))

<class 'bs4.element.Comment'>

In [12]:
comment_in_b_tag_line

'This is a commented data.Not anymore relevant.'

# End of preliminar discussion on beautiful soup