# NumPy Basics

In [2]:
nums = list(range(10))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
2**5

32

In [4]:
nums**5  # here we wanted to get the power 5 of all the numsbers in the list.

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [5]:
import math
math.sqrt(25)

5.0

In [7]:
math.sqrt(nums)  # we wanted to get the sqrt of all the numbers in this list

TypeError: must be real number, not list

In [8]:
math.log(2)

0.6931471805599453

In [9]:
math.log(nums)

TypeError: must be real number, not list

In [10]:
lol = [[1,2,3], [4,5,6], [7,8,9]]
[nest_list[1] for nest_list in lol]

[2, 5, 8]

## Problem here is that oyu are using the WRONG DATATTYPE to store the numbers

In [11]:
import numpy as np

In [13]:
arr = np.array(nums)  # conver your list into Numpy array
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
type(arr)

numpy.ndarray

In [21]:
arr**3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [23]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [24]:
np.sqrt(nums)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [20]:
np.log(arr)

<ipython-input-20-a67b4ae04e95>:1: RuntimeWarning: divide by zero encountered in log
  np.log(arr)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [25]:
np.log(nums)

<ipython-input-25-dc0fd9f2f03c>:1: RuntimeWarning: divide by zero encountered in log
  np.log(nums)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [32]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
arr.shape  # 1D array

(10,)

In [28]:
arr.size   # how many elelents are present in the numpy array

10

In [30]:
arr.ndim  # its a 1D array

1

In [31]:
arr.dtype  # get the datatype of the elements in the nump[y array]

dtype('int32')

In [35]:
arr = arr.astype(float)  # change the datatype from int32 to float

In [36]:
arr

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [37]:
lol = [[1,2,3], [20,30,40], [11,12,13]]   # LISTS ARE 1D objects
lol

[[1, 2, 3], [20, 30, 40], [11, 12, 13]]

In [38]:
mat = np.array(lol)  
mat

array([[ 1,  2,  3],
       [20, 30, 40],
       [11, 12, 13]])

In [39]:
mat.ndim   # this matrix is now 2Dimensional

2

In [41]:
mat.shape   # number of rows and columns in a numpy array/matrix

(3, 3)

In [43]:
mat.size  # size gives the number of elements

9

In [55]:
# Built-in methods for quick data analyses
mat.max(), mat.min(), mat.mean(), mat.std().round(2)

(40, 1, 14.666666666666666, 12.53)

In [56]:
mat.mean().round(3)  # rounding upto 3 decimal place .. using the builtin function for rounding

14.667

In [57]:
np.round(mat.mean(), 3)  # here we are using the NumPy universal function for rounding

14.667

In [58]:
# Using the NumPy universal functions for the data analyses
np.max(mat), np.min(mat), np.mean(mat), np.std(mat)

(40, 1, 14.666666666666666, 12.525529485370624)

In [ ]:
## ALL Numpy functions are VECTPRIZED!!!
# means they work for single numbers, or list, numpy 1D arrays, or 2D arrays ot ndarrays

In [59]:
np.log(20)

2.995732273553991

In [60]:
np.log([20, 30])

array([2.99573227, 3.40119738])

In [61]:
np.log(arr)   # 1D numpy array

<ipython-input-61-a67b4ae04e95>:1: RuntimeWarning: divide by zero encountered in log
  np.log(arr)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [62]:
np.log(mat)   # same function also works for a 2D numpy array!!!

array([[0.        , 0.69314718, 1.09861229],
       [2.99573227, 3.40119738, 3.68887945],
       [2.39789527, 2.48490665, 2.56494936]])

In [63]:
np.log(mat).round(3)   # naturnal logarithm

array([[0.   , 0.693, 1.099],
       [2.996, 3.401, 3.689],
       [2.398, 2.485, 2.565]])

In [65]:
np.log10(mat)   # log woth a base of 10

array([[0.        , 0.30103   , 0.47712125],
       [1.30103   , 1.47712125, 1.60205999],
       [1.04139269, 1.07918125, 1.11394335]])

In [66]:
np.log2(mat)

array([[0.        , 1.        , 1.5849625 ],
       [4.32192809, 4.9068906 , 5.32192809],
       [3.45943162, 3.5849625 , 3.70043972]])

In [67]:
np.sin(mat)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [ 0.91294525, -0.98803162,  0.74511316],
       [-0.99999021, -0.53657292,  0.42016704]])

## Array operations

In [69]:
mat

array([[ 1,  2,  3],
       [20, 30, 40],
       [11, 12, 13]])

In [70]:
mat.diagonal()  # get the MAIN elements

array([ 1, 30, 13])

In [71]:
np.linalg.det(mat)   # the determinant of the matrix

-2.2204460492503077e-14

In [72]:
np.linalg.inv(mat)   # the inverse of the matrix

array([[ 4.05323966e+15, -4.50359963e+14,  4.50359963e+14],
       [-8.10647933e+15,  9.00719925e+14, -9.00719925e+14],
       [ 4.05323966e+15, -4.50359963e+14,  4.50359963e+14]])

In [73]:
np.flipud(mat)

array([[11, 12, 13],
       [20, 30, 40],
       [ 1,  2,  3]])

In [74]:
np.flipud(mat).diagonal()  # fetch the diagonal elements after flipping the matrix

array([11, 30,  3])

In [75]:
np.fliplr(mat)

array([[ 3,  2,  1],
       [40, 30, 20],
       [13, 12, 11]])

In [76]:
mat

array([[ 1,  2,  3],
       [20, 30, 40],
       [11, 12, 13]])

In [77]:
mat.trace()  # sum of the main diagonal elements!!

44

In [80]:
mat.diagonal().sum()

44

In [81]:
mat.T   # matrix transpose (convert the rows into columns)

array([[ 1, 20, 11],
       [ 2, 30, 12],
       [ 3, 40, 13]])

In [90]:
np.linalg.matrix_rank(mat)  # matrix has 3 columns, BUT the rank is 2
# (there are only 2 independent cols)
# clearly tells us that one of the columns can reprsenteda as some functions of one of the other col.

2

In [91]:
eig_values, eig_vectors = np.linalg.eig(mat)
eig_values

array([ 4.65764115e+01,  2.96569422e-15, -2.57641145e+00])

In [92]:
eig_vectors

array([[-0.0642676 , -0.40824829, -0.15510263],
       [-0.93286231,  0.81649658, -0.72661206],
       [-0.35445394, -0.40824829,  0.66931165]])

## Scaler operations on matrices (element-wise)

- broadcasting

In [84]:
mat

array([[ 1,  2,  3],
       [20, 30, 40],
       [11, 12, 13]])

In [85]:
mat*100

array([[ 100,  200,  300],
       [2000, 3000, 4000],
       [1100, 1200, 1300]])

In [86]:
mat + 200

array([[201, 202, 203],
       [220, 230, 240],
       [211, 212, 213]])

In [87]:
mat/100

array([[0.01, 0.02, 0.03],
       [0.2 , 0.3 , 0.4 ],
       [0.11, 0.12, 0.13]])

In [88]:
mat - 150

array([[-149, -148, -147],
       [-130, -120, -110],
       [-139, -138, -137]])

In [ ]:
## MAtrix multplication: using dot() & matmul()
## Indexing & Slicing over numpy arrays
# Importtant functions: reshape, resize
# Random Module
# Different Array Generartion functions: arange, linspoace, logspace, zeros, ones, nan, inf, diag,

# PRactical exaple: 1D Curve Fitting using Numpy arrays & matplotlib...