In [1]:
#import zipfile

In [18]:
#with zipfile.ZipFile('exoTrain.csv.zip', 'r') as file:
   # file.extractall()

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [6]:
import pandas as pd
import time

In [7]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data//exoTrain.csv')
data.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,2,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,2,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,2,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5087 entries, 0 to 5086
Columns: 3198 entries, LABEL to FLUX.3197
dtypes: float64(3197), int64(1)
memory usage: 124.1 MB

In [9]:
data.isna().sum().sum()

0

In [10]:
labels = data['LABEL']
features = data.drop('LABEL', axis = 1)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, labels, random_state = 2)

In [12]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [13]:
start = time.time()
gbr = GradientBoostingClassifier()
gbr.fit(X_train, y_train)

y_pred= gbr.predict(X_test)
score = accuracy_score(y_pred, y_test)
print('Score : ', score)
end = time.time()

print('\nRunTime : ', end - start)

Score :  0.9905660377358491

RunTime :  398.76440262794495

In [14]:
# The most powerful ensemble learning algorithm
import xgboost

In [15]:
start = time.time()
xgbr = xgboost.XGBClassifier()
xgbr.fit(X_train, y_train)

y_pred= xgbr.predict(X_test)
score = accuracy_score(y_pred, y_test)
print('Score : ', score)
end = time.time()

print('\nRunTime : ', end - start)

Score :  0.9913522012578616

RunTime :  67.53383731842041

In [16]:
xgboost.XGBRFClassifier()

XGBRFClassifier()