# List Comprehensions

In [17]:
range(1,11)

range(1, 11)

In [18]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [1]:
nums = list(range(1,11))  # create a list progrmmmatically
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
nums**2  # intention was to get the square of all the numbers in the list

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [3]:
sq = []
for num in nums:
    sq.append(num**2)

sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
sq = [] 
for num in nums: sq.append(num**2)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# LIST COMPREHENSION !!!!
nums = list(range(1,11))
sq = [num**2 for num in nums]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
nums = list(range(1,21))
sq = [num**2 for num in nums if num%3==0]  # save the sq of those nums which are divisible by 3
sq

[9, 36, 81, 144, 225, 324]

In [12]:
lol = [[1,2,3], [4,5,6], [7,8,9]]  # list of lists 
# i want to save the second element of each nested list in another separate list

sec_element = [lis[1] for lis in lol]
sec_element

[2, 5, 8]

In [13]:
# create another list with ALL the elements of the lol
# o/p = [1,2,3,4,5,6,7,8,9]

all_elements = [val for sublist in lol for val in sublist]
all_elements

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
sq_all_elements = [val**2 for sublist in lol for val in sublist]
sq_all_elements

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
sq_all_elements = [val**2 for sublist in lol for val in sublist if val%3==0]
sq_all_elements  # which are divisble by 3

[9, 36, 81]

In [20]:
sq_all_elements = [val**2 for sublist in lol for val in sublist if (val%3==0) | (val%5==0)]
sq_all_elements  # which are divisble by 3 OR 5

[9, 25, 36, 81]

In [21]:
# standard for loop
sq = []
for sublist in lol:
    for val in sublist:
        if (val%3==0) | (val%5==0):
            sq.append(val**2)
    
sq

[9, 25, 36, 81]

In [29]:
lol1 = [[1,2,3], [40,50,60,70,80], [9,10,11]]
sq = []
for sublist in lol1:
    if len(sublist) == 3:
        for val in sublist:
            sq.append(val**2)
    
sq

[1, 4, 9, 81, 100, 121]

In [26]:
sq = [val**2 for sublist in lol1 if len(sublist) == 3 for val in sublist]
sq

[1, 4, 9, 81, 100, 121]

# Lambda Functions

- inline, anonymous functions, single-use functions

In [30]:
def squares(num):
    return num**2

In [38]:
squares(50)

2500

In [36]:
nums = list(range(10,101,10))
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [40]:
squares(nums)  # the functions works for a single number, but NOT for a numbers list

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [41]:
sq = [squares(num) for num in nums]   # calling a function within a list comprehension !!!
sq

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

In [45]:
def squares(num): return num**2  # condensing a regular function def

In [46]:
squres1 = lambda num: num**2  # writing a lambda function ### INCORRECT USAGE !!

In [48]:
squres1(50)  # calling the lambda function as a reg function call !!

2500

In [49]:
squres1(nums)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [50]:
whos

Variable          Type        Data/Info
---------------------------------------
all_elements      list        n=9
lol               list        n=3
lol1              list        n=3
num               int         10
nums              list        n=10
sec_element       list        n=3
sq                list        n=10
sq_all_elements   list        n=4
squares           function    <function squares at 0x0000019D1E63A820>
squres1           function    <function <lambda> at 0x0000019D1E63AE50>
sublist           list        n=3
val               int         11

In [ ]:
nums = list(range(10,101,10))

In [57]:
map(squares, nums)   # let's map a "function" with an "iterbale"
# internally the "mapper" object will "loop" the iterable and "apply" that function

In [56]:
list(map(squares, nums))

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

In [58]:
tuple(map(squares, nums))

(100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000)

In [63]:
whos

Variable          Type        Data/Info
---------------------------------------
all_elements      list        n=9
lol               list        n=3
lol1              list        n=3
num               int         10
nums              list        n=10
sec_element       list        n=3
sq                list        n=10
sq_all_elements   list        n=4
squares           function    <function squares at 0x0000019D1E63A820>
sublist           list        n=3
val               int         11

In [65]:
# correct usage of lambda functions
list(map(lambda x: x**2, nums))  

# here the lambda functions GETS CREATED/DEFINED in the SAME LINE
# where it is being CALLED. This is why we call it as "inline functions"

# lambda never persist in memory (because they were never assigned a name or even saved)
# so you cannot call a lambda function again later.

# create a lmbda function, use it in the SAME line & FORGET it. (no memory persistence)

# lamda functions are used where we need ANOTHER FUNCTION as a necessary input

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

In [67]:
names = ['Prashant', 'Hary', 'Hari', 'Andrea']
list(map(lambda x: len(x), names))  # lambda function returns the len of each name from the list.

[8, 4, 4, 6]

In [70]:
names = ['Prashant', 'Hary', 'Hari', 'Andrea']
list(map(lambda x: x.lower(), names)) # lambda function return each name in the lower case.

['prashant', 'hary', 'hari', 'andrea']

In [72]:
[x.lower() for x in names]   # same thing using a list comprehension

['prashant', 'hary', 'hari', 'andrea']

In [74]:
nums1 = [1,2,3,4,5]
nums2 = [11,21,31,41,51]
# Hadamard product (element-wise product)
list(map(lambda x,y: x*y, nums1, nums2) )

[11, 42, 93, 164, 255]

In [75]:
# map function MUST be used with a function which "RETURNS" something (int, float, str, bool ...)
def something(num):
    print(num)
something(5000)

5000

In [77]:
list(map(something, nums))

10
20
30
40
50
60
70
80
90
100

[None, None, None, None, None, None, None, None, None, None]

In [82]:
def check_prime(num):  # This is called as function definition
    '''
    This is the docstring for this function.... meant for documentation purposes...
    This function checks the input number if it is prime.
    The function returns True if the input "num" is ptime, else False.
    
    input: num (int/float)
    output: bool
    '''
    import math
    try:
        for x in range(2, int(math.sqrt(num))+1):
            if num%x == 0: # checking for remiander
                return False
                break
        else:
            return True
    except:
        print('INVALID Input!.')

In [83]:
nums = [9, 13, 37, 51, 59, 67, 95, 113, 197, 216]
list(filter(check_prime, nums))  # we were able to filter out all the PRIME Numbers!!!

[13, 37, 59, 67, 113, 197]

In [85]:
list(filter(lambda x: x%3==0, nums)) # filter all the numbers which are divisible by 3!

[9, 51, 216]

# GREAT JOB !!!