In [3]:
# green boundary >>> current cell in the "Edit" mode
# blue boundary >>> current cell in the "Command" mode

In [6]:
pwd

'G:\\My Drive\\Training\\SimpliLearn\\PG DS - Data Science with Python\\Batch-3'

$$ \widehat{Y} = \sum_{i=1}^{N}(\beta_{0} + \beta_{1}X_{i}) $$

# Python Basics

## Core Python data types
- int, *float*, **str**, __complex__, `NoneType`, bool

In [16]:
a = 10   # Python created an object "10" in the memory stack
a

10

In [18]:
# you can fetch the data type of ANY Python object
type(a)

int

In [20]:
id(a)  # id of the memory location where "10" is stored

140708160677952

In [1]:
a = 100

In [2]:
id(a)

140719980819328

In [3]:
b = 100  # Python (kernel) "looks" for that object in the memory stack..
# and if it finds a similar object, this new "var_name" (in this case, b)
# starts pointing to the same object !!!

In [4]:
id(b)

140719980819328

In [5]:
a == b # checking for the equality

True

In [6]:
id(a) == id(b)  # checking for the SAME memory location

True

In [29]:
a = 'Hello world'
a

'Hello world'

In [7]:
A = 100.
type(A), id(A)

(float, 1979709236560)

In [8]:
b == A  # the value stored in b & A are the SAME !!!!

True

In [9]:
id(b) == id(A)

False

In [10]:
whos

Variable   Type     Data/Info
-----------------------------
A          float    100.0
a          int      100
b          int      100

In [11]:
0.3 - 0.2 - 0.1

-2.7755575615628914e-17

In [12]:
a1 = 1.123456789012345678
a2 = 1.123456789012345679
# diff between a1 & a2 is in the 18th decimal place

In [13]:
a1 == a2

True

In [15]:
a1-a2

0.0

In [17]:
id(a1) == id(a2)

False

In [59]:
import numpy
eps = numpy.finfo(float).eps # this is the resolution limit of your machine
eps

2.220446049250313e-16

In [60]:
a3 = a1 + eps
a1 == a3

False

In [61]:
b1 = numpy.round(eps, 22)
b2 = numpy.round(eps, 24)
b1 == b2

False

In [44]:
b1 = numpy.round(eps, 10)
b2 = numpy.round(eps, 15)
b1 == b2

True

In [49]:
whos

Variable   Type       Data/Info
-------------------------------
A          float      100.0
a          int        100
a1         float      1.1234567890123457
a2         float      1.1234567890123457
a3         float64    1.123456789012346
b          float      100.0
b1         float64    0.0
b2         float64    0.0
eps        float64    2.220446049250313e-16
numpy      module     <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [47]:
b

100

In [48]:
b = float(b)  # this is called as typecasting
# where we are dynamically changing the datatype of a Python object.
b

100.0

In [52]:
A = float(a)

In [53]:
whos

Variable   Type       Data/Info
-------------------------------
A          float      100.0
a          int        100
a1         float      1.1234567890123457
a2         float      1.1234567890123457
a3         float64    1.123456789012346
b          float      100.0
b1         float64    0.0
b2         float64    0.0
eps        float64    2.220446049250313e-16
numpy      module     <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

## Python variable names 

- are case-sensitive
- cannot start with a number or any other symbol
- must start with an alphabet (small/caps)
- cannot contain spaces (use _ instead)
- can contain only alphabets, numbers, _ only (no other symbols are allowed)
- must not not be same as Core Python functions (or other modules)
- CANNOT be one of the "RESERVED KEYWORDS"!


these "rules" are mentioned in PEP8 syle guide

In [62]:
numpy = 10

In [68]:
print = 'hi'

In [101]:
whos

Variable      Type       Data/Info
----------------------------------
A             float      100.0
a             int        10
a1            float      1.1234567890123457
a2            float      1.1234567890123457
a3            float64    1.123456789012346
a_            int        10
b             float      100.0
b1            float64    2.220446e-16
b2            float64    2.22044605e-16
eps           float64    2.220446049250313e-16
hello_world   int        10
numpy         int        10

In [103]:
b = True
type(b)

bool

In [105]:
c = True
id(b) == id(c)

True

In [106]:
B = False

In [108]:
# any number (int or float) other than 0, will be typecasted to True
b1 = bool(1.2345)    # this will be treated as True
c1 = bool(0)         # this will be treated as False
d1 = bool(-3.14)     # this will be treated as True

In [111]:
a = None
type(a)

NoneType

In [112]:
print(a)

None

In [113]:
id(a)

140719980583040

In [115]:
b = None
id(a) == id(b)

True

## Strings

In [1]:
s1 = 'Hello' 
s2 = "Hello"

In [2]:
whos

Variable   Type    Data/Info
----------------------------
s1         str     Hello
s2         str     Hello

In [3]:
# use " " if you want to have ' (apostrope) within your string, and vice versa
s3 = 'Prashant's copy'
s3

SyntaxError: invalid syntax (<ipython-input-3-ea32f847264e>, line 2)

In [4]:
s3 = "Prashant's copy"
s3

"Prashant's copy"

In [6]:
s4 = 'Prashant\'s copy'
s4

"Prashant's copy"

####

In [7]:
s5 = """This is called as block-quote, and it can ever run into 
multiple lines of text...
any specual chars !@#!#!@$$#$%%^%
:""<">":"<"">">">""
"""
s5

'This is called as block-quote, and it can ever run into \nmultiple lines of text...\nany specual chars !@#!#!@$$#$%%^%\n:""<">":"<"">">">""\n'

In [8]:
s1 = 'Hello'
s2 = 'World'
s1 + s2  # simplest way of doing string concatenation
# this "+" operator is being used as "Overloaded" operation

'HelloWorld'

In [10]:
# you can even concatenate multiple strings
s1 + " " + s2

'Hello World'

In [12]:
[1,2,3] + [4,5,6,7,8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
"hello" + 100

TypeError: can only concatenate str (not "int") to str

In [15]:
str(100)

'100'

In [17]:
"hello" + str(100.123)  # typecasting the 100.123 into a string before concatenation

'hello100.123'

In [19]:
whos

Variable   Type    Data/Info
----------------------------
s1         str     Hello
s2         str     World
s3         str     Prashant's copy
s4         str     Prashant's copy
s5         str     This is called as block-q<...>^%\n:""<">":"<"">">">""\n

In [24]:
s1.upper()

'HELLO'

In [26]:
s3.split()

["Prashant's", 'copy']

In [27]:
s3.split('a')

['Pr', 'sh', "nt's copy"]

In [29]:
len(s3)

15

In [30]:
s3

"Prashant's copy"

In [31]:
s3.replace('a', 'z')

"Przshznt's copy"

In [32]:
s3  # original s3 still remains the same ..... why ????
# Strings are IMMUTABLE !!

"Prashant's copy"

In [ ]:
# For strings, remember that all the string built-in methods operate on a COPY of the orig. string...

In [33]:
s4 = s3.replace('a', 'z')

In [34]:
s4

"Przshznt's copy"

In [35]:
s3

"Prashant's copy"

In [36]:
s3 = s3.replace('a', 'z')   # unless the orig. object is explicitly replaced by reassignment !!
s3

"Przshznt's copy"

### Complex

In [37]:
z = 2 + 3j

In [38]:
type(z)

complex

In [39]:
z.imag, z.real  # "getting" the value stored in the "imag" & "real" attributes

(3.0, 2.0)

In [44]:
z.conjugate()

(2-3j)

In [45]:
z.imag = 100  # i am trying to set a value to the attribute "imag"

AttributeError: readonly attribute

# Core Python Data Structures 

(Collections or Containers in Pytyon )
- list, tuple, dict, str, set
- Mutable?, iterable?, indexable?, sortable?

## Lists

In [46]:
colors = ['red', 'green', 'blue']  # this list contains 3 elemnts 
colors

['red', 'green', 'blue']

In [47]:
type(colors)

list

In [48]:
len(colors)  # len will give the number of elements present in a container

3

In [49]:
colors.append('pink')
colors

['red', 'green', 'blue', 'pink']

In [50]:
id(colors)

2193998166400

In [51]:
colors.append('yellow')  # we have been adding/appending elements to the SAME object ....
id(colors)
# this means LISTS are MUTABLE

2193998166400

In [53]:
len(colors)

5

In [54]:
colors

['red', 'green', 'blue', 'pink', 'yellow']

In [55]:
colors.reverse()
colors

['yellow', 'pink', 'blue', 'green', 'red']

In [56]:
colors.reverse()

In [57]:
colors

['red', 'green', 'blue', 'pink', 'yellow']

In [58]:
colors.sort()

In [59]:
colors

['blue', 'green', 'pink', 'red', 'yellow']

In [60]:
colors = ['red', 'green', 'blue']  # this list contains 3 elemnts 
sorted(colors)

['blue', 'green', 'red']

In [61]:
colors

['red', 'green', 'blue']

In [ ]:
col1 = sorted(colors)

In [62]:
colors = ['red', 'green', 'blue', True, 100, 3.14, [1,2,3]]
colors

['red', 'green', 'blue', True, 100, 3.14, [1, 2, 3]]

In [65]:
my_fun = [print, len, id, type, sorted, 3.14]
my_fun

[<function print>,
 <function len(obj, /)>,
 <function id(obj, /)>,
 type,
 <function sorted(iterable, /, *, key=None, reverse=False)>,
 3.14]

In [66]:
sorted(colors)

TypeError: '<' not supported between instances of 'bool' and 'str'

In [67]:
colors.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [71]:
nums = [31, 23, 43, 3.14, 11, 66, 54, -0.23]
sorted(nums)

[-0.23, 3.14, 11, 23, 31, 43, 54, 66]

In [76]:
A = ['pune', 'Pune', ' Prashant', 'Hary', 'XYZ', 'abc']
A.sort()
A

[' Prashant', 'Hary', 'Pune', 'XYZ', 'abc', 'pune']

### Indexing & Slicing in Python

In [77]:
s = 'Hello World'
len(s)

11

In [78]:
s[0]

'H'

In [79]:
s[5]

' '

In [80]:
s[-1]

'd'

In [81]:
s[-5]

'W'

In [82]:
s[:5]  # fetch the first 5 characters

'Hello'

In [83]:
s[2:8]  # Python fetchs the values from the "start_index", and stops 1 BEFORE the "stop_index"

'llo Wo'